.hero {
  background-image: linear-gradient(rgba(9, 32, 67, 0.7) 0%, rgba(9, 32, 67, 0.85) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuAgoAgHVahhyVqE-ZYubKDPFlyu7zD7btv2khfFezIZ0EAF-Sq62K-YCiUh_ZE8QMwbrxBfD5tBhklYYyGD4nUZKdL-a4mlntJ7MEQuQAQb6GxPn94lJugHYrKcZEy5A-7GmMnmsS3SXEh5nkYcB3kOpKHCj6vfaod2vAnFi0m-mbG6W6_dkGHDzG1i5c_TTPLzUL1ViO6cXOrlg_BrPa6MJ_nBeX4l7N-JqXqeT8Dbg-syucjtRHHQr_-ZBYSbuWr9U4g230NrKA1x");
}
